<div class="wrapper">
  <div class="container">
    <div class="raw">
      <div class="col-md-6 offset-md-3">

        
        <!-- <div class="text-center">
          <img src="../../../../../assets/Vodafone-Idea-Logo.jpg" width="150" height="55">
          
        </div><br>

        <div class="text-center">
          <img src="../../../assets/dashboard.png" width="300" height="120">
          
        </div> -->
       
        <br>
        <h1 class="text-center">Change Password</h1>
        <div class="container">
          <mat-spinner *ngIf="loaderService.isLoading | async" class="spinner" color="accent"></mat-spinner>
           

          <!-- (ngSubmit)="formSubmit()" -->
          <form (ngSubmit)="formSubmit()">
            
            <!-- {{user | json }} -->




            <div class="form-group">

              <div class="example-full-width" appearance="fill">
                <!-- <mat-label>
                  <mat-icon>person</mat-icon> User Name
                </mat-label> -->

                <input [(ngModel)]="user.email" required matInput name="email" type="text" class="form-control"
                  id="email" placeholder="Enter Email">

              </div>

            </div>
              <div class="form-group">
                <div class="example-full-width" appearance="fill">
                  <!-- <mat-label>
                    <mat-icon>lock</mat-icon> Password
                  </mat-label> -->
                
                
                <input [(ngModel)]="user.oldPassword" required matInput name="oldPassword" type="password" class="form-control" id="oldPassword" placeholder="Old Password">
                </div>
              </div>

              <div class="form-group">
                <div class="example-full-width" appearance="fill">
                  <!-- <mat-label>
                    <mat-icon>lock</mat-icon> Password
                  </mat-label> -->
                
                
                <input  [(ngModel)]="user.newPassword" required matInput name="newPassword" type="password" class="form-control" id="newPassword" placeholder="New Password">
                </div>
              </div>

            <!-- <div class="form-group">

              <mat-icon>lock</mat-icon>
              <label for="password">&nbsp;&nbsp;Password</label> &nbsp;<span style="color: red;"> *</span>
              <input [(ngModel)]="user.password" required natInput name="password" type="password" class="form-control"
                id="password" placeholder="Password">
            </div><br><br> -->
            <div class="text-center">
              <button style="margin-left: 30px;" mat-flat-button color="accent">Submit</button>
              <button type="reset" style="margin-left: 30px;" mat-flat-button color="warn">Clear</button>
              <!-- <button Class="btn btn-secondary" type="submit" style="margin-left: 30px;">Clear</button> -->
            </div>
            <!-- <div class="text-center"><br>
              <i style="color: rgb(4, 4, 59)"><b>Powered by </b></i>&nbsp;&nbsp;<img
                src="../../../assets/wipro_logo.png" width="100" height="70">
              <button mat-fab color="warn">
                <mat-icon>home</mat-icon>
              </button>
            </div> -->
          </form>
        </div>  
      </div>
    </div>
  </div>
</div>