<div class="mat-toolbar1">


    <div class="nav-links">
        <ul>

            <li class="nav-link" style="--i: .85s">
                <a mat-button class="font-size">MY ACCOUNT</a>
                <div class="dropdown">
                    <ul>
                        <li class="dropdown-link">
                            <a mat-button routerLink="app-circle-change-password" class="font-size">CHANGE PASSWORD</a>
                        </li>
                        <li class="dropdown-link">
                            <a mat-button class="font-size" routerLink="app-circle-update-profile" class="font-size">UPDATE PROFILE</a>
                        </li>
                        

                        <div class="arrow"></div>
                    </ul>
                </div>
            </li>
            <li class="nav-link" style="--i: 1.1s">
                <a mat-button class="font-size">DASHBOARD</a>
                <div class="dropdown">
                    <ul>
                        <li class="dropdown-link">
                            <a mat-button routerLink="app-circle-meeting-dashboard" class="font-size" >MEETING DASHBOARD</a>
                        </li>
                        <li class="dropdown-link">
                            <a mat-button routerLink="app-circle-on-boarding-dashboard" class="font-size" >ON BOARDING DASHBOARD</a>
                        </li>


                        <div class="arrow"></div>
                    </ul>
                </div>
            </li>
            <li class="nav-link" style="--i: 1.1s">
                <a mat-button class="font-size">CUSTOMER DETAILS</a>               
                
                <div class="dropdown">
                    <ul>
                        
                        <li class="dropdown-link">
                            <a mat-button routerLink="app-circle-customer-details" class="font-size">CUSTOMER DETAILS</a>
                        </li>
                        <li class="dropdown-link">
                            <a mat-button routerLink="app-circle-download-customer-details" class="font-size" >DOWNLOAD CUSTOMER DETAILS</a>

                        </li>

                        <div class="arrow"></div>
                    </ul>
                </div>
            </li>

            <li class="nav-link" style="--i: 1.35s">

                <a mat-button  class="font-size" routerLink="app-circle-customer-allocation" routerLinkActive="active">CUSTOMER ALLOCATION</a>
            </li>
            
            <li class="nav-link" style="--i: 1.35s">
                <a mat-button  class="font-size" routerLink="app-circle-action-tracker" routerLinkActive="active">ACTION
                    TRACKER</a>
            </li>
            <li class="nav-link" style="--i: 1.35s">
                <a mat-button  class="font-size" routerLink="app-circle-rag-dashboard" routerLinkActive="active">RAG
                    DASHBOARD</a>
            </li>
            <li class="nav-link" style="--i: 1.1s">
                <a mat-button class="font-size">NON-FUNCTIONAL USERS DATA</a>               
                
                <div class="dropdown">
                    <ul>
                        
                        <li class="dropdown-link">
                            <a mat-button routerLink="app-circle-action-tracker-non-functional" class="font-size">ACTION
                                TRACKER</a>
                        </li>
                        <li class="dropdown-link">
                            <a mat-button routerLink="app-circle-meeting-details-non-functional" class="font-size" >MEETING DETAILS</a>

                        </li>

                        <div class="arrow"></div>
                    </ul>
                </div>
            </li>
        </ul>
    </div>







    

</div>